@{
    ViewBag.Title = "Add";
    Layout = "_Layout";
}

<h2>Add</h2>

<form method="post">
    Name: <input id="name" name="name"><br/>
    <br/>
    <button asp-controller="Home" asp-action="Add">Submit</button>
</form>
