@model SimpleCQRS.Core.InventoryItemDetailsDto

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Check-In</h2>

<form method="post">
    <input type="hidden" id="Id" name="Id" value="@Model.Id" />
    <input type="hidden" id="Version" name="Version" value="@Model.Version" />
    Item: @Model.Name - (Version: @Model.Version)<br />
    Number: <input id="number" name="number"><br />
    <br />
    <button asp-controller="Home" asp-action="CheckIn">Submit</button>
</form>